/* 1. 배치
2. 이미지 크기 조정 
3. 메인 영역에 헤더와 푸터 부분과 띄워지도록 패딩 넣기
4. 텍스트 끼리 위아래 배치, 위쪽으로 몰아두기
5. 각 텍스트 세부설정
6. 텍스트끼리 위치를 떨어트려놓기
7. 내부에 있는 '진짜' 이미지 크기 조정 후 가운데 위치 시키기
8. 스크롤을 내려도 고정된 글쓰기 버튼 만들기*/

main {
    padding: 30px 20px 30px 20px;
}

.item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--boder-color);
    padding: 20px 0 20px 0;

}

.item-list__img {
    width: 150px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* 모서리를 둥글게 깎기 */
    border-radius: 12px;
    /* 이미지와 텍스트 간격 띄우기 */
    margin-right: 20px;
    /* '진짜' 이미지를 가운데 위치 시키기. 주의, 꼭 상위 컴포넌트에 적용 왜냐하면 flex의 속성 중 컨테이너에 적용하는 속성이기 때문이다. */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 내부에 있는 '진짜' 이미지 조정 */
.item-list__img img {
    width: 50px;
}

.item-list__info {
    /* 이미지의 높이가 150 */
    height: 130px;
    /* 텍스트 길이에 따른 중앙 정렬을 위함 */
    width: 300px;

    display: flex;
    /* 오뎅꼬치가 세로로 놓여짐 */
    flex-direction: column;
    /* 오뎅꼬치와 같은 방향 - 맨 위로 정렬 */
    justify-content: start;
    /* 오뎅꼬치에서 수직으로 이동하는 방향 - 글자 왼쪽 정렬 */
    align-items: start;

}


/* 텍스트끼리 위치 떨어트리기 */
.item-list__info div {
    margin-top: 10px;
}

.item-list__info-meta {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.3);
}

.item-list__info-price {
    font-weight: bold;
}

.write-btn {
    background-color: var(--button-primary);
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    font-size: 15px;
    position: fixed;
    bottom: 120px;
    right: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    /* 변화를 부드럽게 이어줌 */
    transition: all 0.2s ease-in-out;
}

.write-btn:hover {
    background-color: var(--button-hover);
}