/* style.css에 다른 css파일을 뭉쳐서 HTML에는 style.css만 link시키면 된다. */
@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.media-info-msg {
    /* position: absolute; 상단에 고정되어 있음. 스크롤을 내리면 콘텐츠들이 다시 보임 */
    /* 화면에 맞게 따라다니는 기능 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .media-info-msg {
        /* 아예 투명하게 덮고 있어 클릭이 안되기 때문에  opacity: 0; 대신*/
        display: none;
    }
}